.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/alsaplayer.apk
/cert.keystore
*.so
/app/jni/test1
/app/jni/compr
/app/jni/flacplay
gradle.properties
/app/jni/tinyxml/xmltest.c
/libsuperuser/build
/app/jni/alsaplayer
