.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/alsaplayer.apk
/cert.keystore
/app/jni/test1
/app/libs
gradle.properties
/app/jni/tinyxml/xmltest.c
/libsuperuser/build
/app/jni/alsaplayer
/app/jni/logs

